# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

nbproject/
/assets/assets/editor.md/docs/
/assets/assets/editor.md/examples/
/assets/assets/editor.md/scss/
/assets/assets/editor.md/tests/
/assets/assets/editor.md/src/